<head>
  <title>Collection - VGC</title>
  <link rel="stylesheet" href="styles.css" />
  <script>
    function openAdjWindow(entryID) {
      let adjWindow = open(`/newAdj?entryID=${entryID}`, "adjWindow", "height=600, width=500, left=200, top=200, menubar=no, resizeable=no, scrollbars=no, status=no");
      adjWindow.onbeforeunload = () => {
        setTimeout(() => {
          location.reload()
        }, 1000)
      }

    }
    function openDetailWindow(entryID) {
      let detailWindow = open(`/details?entryID=${entryID}`, "detailWindow", "height=600, width=500, left=200, top=200, menubar=no, resizeable=no, scrollbars=no, status=no");
      detailWindow.onbeforeunload = () => {
        setTimeout(() => {
          location.reload()
        }, 1000)
      }

    }
    window.onload = () => {
      let header = `<%= header %>`.replace(/(&#34;)/gm, "\"");
        header = JSON.parse(header)
        let newHeader = "";
        for (i of header) {
          newHeader += `<th>${i}</th>`;
        }
        let data = `<%= data %>`.replace(/(&#34;)/gm, "\"");
        data = JSON.parse(data)
        let newData = "";
        for (row of data) {
          newData += "<tr>";
          for (column of row) {
            if (column == null) continue;
            if (column.toString().includes("%ID%")) {
              column = `<a style='color: blue; text-decoration-line: underline; cursor:pointer' onclick='openAdjWindow("${column.toString().slice(column.toString().indexOf('%ID%')+4, column.toString().indexOf('\n'))}")''>Adjust</a>\n<a style='color: blue; text-decoration-line: underline; cursor:pointer' onclick='openDetailWindow("${column.toString().slice(column.toString().indexOf('%ID%')+4, column.toString().indexOf('\n'))}")''>Details</a>`
            }
            else if (column.toString().includes("%IMG%")) {
              column = `<img src=/assets?id=${column.toString().slice(column.toString().indexOf('%IMG%')+5, column.toString().indexOf('\n'))}>`
            }
            newData += `<td>${column}</td>`;
          }
          newData += "</tr>";
        }
        document.getElementById(
          "table"
        ).innerHTML = `<tr>${newHeader}</tr>${newData}`;
    }
  </script>
</head>
<body>
  <h1>
    <a class="hiddenLink" href="/" title="Click to go Home"
      >VGC v<%= version %></a
    >
    -
    <a class="hiddenLink" href="/logout" title="Click to Logout"
      ><%= username %></a
    >
  </h1>
  <div>
    <table id="table"></table>
  </div>
</body>
